#gdrive {
  background-color: #4583eb;
  color: #fff;
}
#google {
  background-color: #1ca464;
  color: #fff;
}
#youtube {
  background-color: #fc0404;
  color: #fff;
}
#gmail {
  background-color: #d44c3c;
  color: #fff;
}
#hangout {
  background-color: #059953;
  color: #fff;
}
#calender {
  background-color: #3b74e2;
  color: #fff;
}
#duo {
  background-color: #1473ea;
  color: #fff;
}
#sheets {
  background-color: #0c9d58;
  color: #fff;
}
#classroom {
  background-color: #20a563;
  color: #fff;
}
#photos {
  background-color: #de4d40;
  color: #fff;
}
#docs {
  background-color: #1473ea;
  color: #fff;
}
#scholar {
  background-color: #f3cb04;
  color: #080707;
}

#covidindia {
  background-color: #1473ea;
  color: #fff;
}
#covidglobal {
  background-color: #5c443b;
  color: #fff;
}
#mohw {
  background-color: #04a32c;
  color: #fff;
}
#pmcares {
  background-color: #e35d2f;
  color: #fff;
}
#who {
  background-color: #0c9bcb;
  color: #fff;
}

#insta {
  background-color: #ca36ae;
  color: #fff;
}
#fb {
  background-color: #4464b4;
  color: #fff;
}
#twitter {
  background-color: #1ca4f4;
  color: #fff;
}
#snapchat {
  background-color: #fbfb04;
  color: #080707;
}
#linkedIn {
  background-color: #2969b1;
  color: #fff;
}
#whats {
  background-color: #40c351;
  color: #fff;
}
#slack {
  background-color: #4c144c;
  color: #fff;
}
#quora {
  background-color: #bb2c2b;
  color: #fff;
}
#reddit {
  background-color: #fb4404;
  color: #fff;
}

#netflix {
  background-color: #040404;
  color: #e6020c;
}
#prime {
  background-color: #04ace4;
  color: #fff;
}
#hotstar {
  background-color: #040404;
  color: #fff;
}
#imbd {
  background-color: #f3cb04;
  color: #080707;
}
#ted {
  background-color: #040404;
  color: #f92334;
}
#pinterest {
  background-color: #cc2324;
  color: #fff;
}
#zee5 {
  background-color: #040404;
  color: #fff;
}

#indiatoday {
  background-color: #ca2326;
  color: #fff;
}
#hindu {
  background-color: #e1e2de;
  color: #111d26;
}
#ndtv {
  background-color: #9c0404;
  color: #fff;
}
#hindustan {
  background-color: #0894ca;
  color: #fff;
}
#rediff {
  background-color: #fa0c32;
  color: #fff;
}
#cnn {
  background-color: #cc0404;
  color: #fff;
}
#newyork {
  background-color: #040404;
  color: #fff;
}
#economic {
  background-color: #eb1c3c;
  color: #fff;
}
#toi {
  background-color: #d42004;
  color: #fff;
}

#express {
  background-color: #ebe8d9;
  color: #2b2529;
}
#bbc {
  background-color: #bc0404;
  color: #fff;
}

#amazon {
  background-color: #242c3c;
  color: #fff;
}
#flipkart {
  background-color: #fae223;
  color: #187dc6;
}
#snapdeal {
  background-color: #fc2444;
  color: #fff;
}
#myntra {
  background-color: #db5936;
  color: #fff;
}
#shopclues {
  background-color: #14a3b4;
  color: #fff;
}
#alibaba {
  background-color: #fb8b3d;
  color: #fff;
}
#bookmyshow {
  background-color: #c3141c;
  color: #fff;
}
#nykaa {
  background-color: #f92b76;
  color: #fff;
}
#firstcry {
  background-color: #e1a344;
  color: #fff;
}
#shein {
  background-color: #302311;
  color: #fff;
}

#spotify {
  background-color: #1cd464;
  color: #fff;
}
#gaana {
  background-color: #282321;
  color: #e95226;
}
#wynk {
  background-color: #ea2425;
  color: #fff;
}
#saavn {
  background-color: #33b45c;
  color: #fff;
}
#amazonmusic {
  background-color: #3612b3;
  color: #fff;
}
#hungama {
  background-color: #2777c0;
  color: #fff;
}

#sbi {
  background-color: #0793da;
  color: #fff;
}
#hdfc {
  background-color: #112a76;
  color: #fff;
}
#icici {
  background-color: #1e3163;
  color: #cee3e3;
}
#axis {
  background-color: #902a48;
  color: #eee5e9;
}
#idbi {
  background-color: #08836c;
  color: #fff;
}
#yes {
  background-color: #0069ac;
  color: #fff;
}
#kotak {
  background-color: #e92134;
  color: #fff;
}
#indus {
  background-color: #873c3f;
  color: #fff;
}
#indbank {
  background-color: #183883;
  color: #fff;
}

#hackerrank {
  background-color: #26b859;
  color: #fff;
}
#hackerearth {
  background-color: #2c3454;
  color: #fff;
}
#codechef {
  background-color: #5c443b;
  color: #fff;
}
#codeforces {
  background-color: #10191e;
  color: #b6c4ec;
}
#topcoder {
  background-color: #616161;
  color: #fff;
}
#leetcode {
  background-color: #111111;
  color: #fff;
}
#interviewbit {
  background-color: #e6b91a;
  color: #4d4b4b;
}
#gfg {
  background-color: #3ca478;
  color: #fff;
}
#spoj {
  background-color: #357bb3;
  color: #fff;
}
#euler {
  background-color: #6c4c3c;
  color: #fff;
}
#stopstalk {
  background-color: #fc0808;
  color: #fff;
}
#github {
  background-color: #232b2b;
  color: #fff;
}

#udemy {
  background-color: #73213b;
  color: #fff;
}
#coursera {
  background-color: #3b73bb;
  color: #fff;
}
#medium {
  background-color: #2c2c2c;
  color: #fff;
}
#udacity {
  background-color: #04a5b5;
  color: #fff;
}
#khan {
  background-color: #142c64;
  color: #fff;
}
#teded {
  background-color: #393836;
  color: #fff;
}
#w3 {
  background-color: #86c01f;
  color: #fff;
}
#plural {
  background-color: #1b1b1b;
  color: #fff;
}

#edx {
  background-color: #bf1c5b;
  color: #fff;
}

.first {
  background-color: #dcdcdc;
}
